body {
  font-family: 'Roboto', sans-serif;
}
h1 {}
h2 {}
h3 {}
p {}
hr {
  margin-left: auto;
  margin-right: auto;
  @media(min-width:48em) {
    margin-left: 0;
    margin-right: 0;
  }
}
.download-btn {
  width: 146px;
  height: auto;
  margin-top: 25px;
  padding: 10px 0;
}
.container-fluid {
  padding: 0;
}
.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.xsbr {
  @media(max-width: 48em) {
    display: block;
  }
}
.mdbr {
  @media(min-width: 48em) {
    display: block;
  }
}
//Navigation
nav {
  padding: 40px 25px !important;
  @media(min-width: 48em) {
    padding: 50px 100px !important;
  }
  .navbar-brand {
    @media(max-width: 48em) {
      //width: 77px;
      height: 18px;
    }
  }
  .navbar-clappy img {
    width: 35px;
    height: 35px;
    margin-top: -7.5px;
    @media(min-width: 48em) {
      width: 40px;
      height: 40px;
      margin-top: -10px;
    }
  }
  .facebook {
    margin-left: 25px;
  }
  .twitter {
    img {
      padding-top: 1.5px;
      padding-bottom: 1.5px;
    }
  }
}
//Intro section
#intro {
  background-image: url('../img/bg-header.png');
  background-size: cover;
  //background-image: radial-gradient(circle at 53% 50%, #87c0df, #449dcd);
  padding-bottom: 285px;
  h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    line-height: 1.3;
    font-weight: 500;
    color: #ffffff;
    @media (min-width: 48em) {
      font-size: 28px;
      line-height: 1.1;
    }
  }
  h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.3;
    color: #ffffff;
    font-weight: 300;
    @media (min-width: 48em) {
      font-size: 18px;
      line-height: 1.2;
    }
  }
  p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    color: #ffffff;
  }
  #intro-screenshots {
    position: absolute;
    width: 100%;
    @media(min-width: 48em) {
      width: 784px;
      left: 0;
      right: 0;
      margin: auto;
    }
    .btn-play {
      position: absolute;
      margin-top: 25vh;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
    a img {
      @media(max-width: 48em) {
        display: block !important;
        z-index: 2;
      }
    }
    img {
      @media(max-width:48em) {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
      }
      &:nth-of-type(1),
      &:nth-of-type(3) {
        display: none;
        @media (min-width: 48em) {
          display: inline-block;
        }
      }
    }
  }
}
//Points section
#points {
  padding-top: 294px;
  padding-bottom: 100px;
  background-image: url('../img/bg-featuresclappys.svg');
  background-repeat: no-repeat;
  background-position: center center;
  @media (min-width: 48em) {
    padding-top: 305px;
    padding-bottom: 60px;
  }
  img {
    margin-bottom: 25px;
  }
  h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.2;
    color: #4a4a4a;
  }
  p {
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.3;
    color: #838383;
  }
  .row {
    @media(min-width: 48em) {
      padding: 0 90px;
    }
    .col-xs-12 {
      @media(max-width: 48em) {
        padding: 0 50px;
      }
    }
    .col-md-4 {
      @media(min-width: 48em) {
        padding: 0 40px;
      }
    }
  }
}
//Create section
#create {
  background-color: #f9f9f9;
  h1 {
    padding-top: 60px;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    line-height: 1.3;
    font-weight: 600;
    @media(min-width: 48em) {
      font-size: 28px;
      line-height: 1.1;
    }
    span {
      color: #e67e22;
    }
  }
  hr {
    width: 50px;
    height: 3px;
    background-color: #e67e22;
  }
  p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.3;
    color: #838383;
    @media(min-width: 48em) {
      text-align: justify !important;
    }
  }
  .row {
    @media (min-width: 48em) {
      padding-top: 106px;
    }
    .col-xs-12 {
      @media(max-width: 48em) {
        padding: 0 22px;
      }
    }
    .col-md-7 {
      @media(min-width: 48em) {
        padding: 0 147px;
      }
    }
    .col-md-5 {
      @media(min-width: 48em) {
        padding-left: 0;
      }
      img {
        @media (max-width: 48em) {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}
//Share section
#share {
  background-color: #ffffff;
  h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    line-height: 1.3;
    font-weight: 600;
    @media(min-width: 48em) {
      padding-top: 60px;
      font-size: 28px;
      line-height: 1.1;
    }
    span {
      color: #6cb2d8;
    }
  }
  hr {
    width: 50px;
    height: 3px;
    background-color: #6cb2d8;
    @media(min-width:48em) {
      margin-left: auto;
    }
  }
  p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.3;
    color: #838383;
    @media(min-width: 48em) {
      text-align: justify !important;
    }
  }
  .row {
    @media(min-width: 48em) {
      padding-top: 106px;
    }
    .col-xs-12 {
      @media(max-width: 48em) {
        padding-top: 60px;
      }
    }
    .col-md-7 {
      @media(min-width: 48em) {
        padding: 0 145px;
      }
    }
    .col-md-5 {
      @media(min-width: 48em) {
        padding-left: 165px;
        padding-right: 0;
      }
      #socialOverlay {
        position: absolute;
        margin-left: 4%;
        margin-top: -5vh;
        @media(max-width: 48em) {
          display: none;
        }
        @media(min-width:32em) {
          margin-left: 25%;
          margin-top: -5vh;
        }
        @media(min-width: 48em) {
          margin-left: 23%;
          margin-top: -7vh;
        }
      }
      #socialOverlayMobile {
        display: none;
        position: absolute;
        margin-left: 6%;
        margin-top: -3vh;
        @media(max-width: 48em) {
          display: block;
        }
      }
      img {
        @media (max-width: 48em) {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}
//Discover section
#discover {
  //margin: 0;
  background-color: #f9f9f9;
  h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    line-height: 1.3;
    font-weight: 600;
    @media(min-width: 48em) {
      padding-top: 60px;
      font-size: 28px;
      line-height: 1.1;
    }
    span {
      color: #e67e22;
    }
  }
  hr {
    width: 50px;
    height: 3px;
    background-color: #e67e22;
  }
  p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.3;
    color: #838383;
    @media(min-width: 48em) {
      text-align: justify !important;
    }
  }
  .row {
    @media(min-width: 48em) {
      padding-top: 106px;
    }
    .col-xs-12 {
      @media(max-width: 48em) {
        padding-top: 60px;
      }
    }
    .col-md-7 {
      @media(min-width: 48em) {
        padding: 0 147px;
      }
    }
    .col-md-5 {
      @media(min-width: 48em) {
        padding-left: 0;
      }
      img {
        @media (max-width: 48em) {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}
//Download section
#download {
  position: relative;
  height: 303px;
  background-image: url('../img/overlay-100-free.png');
  background-size: cover;
  //background-image: radial-gradient(circle at 53% 50%, #87c0df, #449dcd);
  .download-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    z-index: 2;
    h1 {
      margin-top: 75px;
      font-family: 'Roboto', sans-serif;
      font-size: 22px;
      line-height: 1.3;
      color: #ffffff;
      @media(min-width: 48em) {
        margin-top: 90px;
        line-height: 1.1;
      }
    }
    p {
      font-family: 'Roboto', sans-serif;
      font-size: 12px;
      font-weight: 500;
      line-height: 1.3;
      color: #ffffff;
    }
    .download-btn {
      width: 146px;
      height: auto;
      margin-top: 22px !important;
    }
  }
  .download-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('../img/downloads.png');
    background-size: cover;
    opacity: 0.2;
  }
}
//Footer Section
#footer {
  height: 230px;
  padding: 40px 10px;
  @media(min-width: 48em) {
    padding: 50px;
  }
  .copyright {
    @media(max-width: 48em) {
      padding: 0;
    }
    img {
      width: 86px;
      height: 20px;
      @media(min-width: 48em) {
        width: 95px;
        height: 22px;
        margin-bottom: 15px;
      }
    }
    p {
      font: 'Roboto', sans-serif;
      font-size: 15px;
      line-height: 1.5;
      color: #4a4a4a;
      opacity: 0.7;
      @media(max-width: 48em) {
        padding-top: 17px;
      }
    }
  }
  .social {
    @media(max-width: 48em) {
      margin-top: 60px;
    }
  }
  .footer-nav {
    @media(max-width: 48em) {
      padding: 0 !important;
    }
    a {
      font: 'Roboto', sans-serif;
      font-size: 14px;
      line-height: 0.5;
      color: #4a4a4a;
      @media(min-width: 48em) {
        font-size: 15px;
        line-height: 0.5;
      }
      p {
        opacity: 0.7;
      }
    }
    .col-xs-4 {
      @media(max-width: 48em) {
        padding: 0;
      }
    }
    .footer-title {
      font: 'Roboto', sans-serif;
      font-size: 14px;
      line-height: 1.4;
      font-weight: 600;
      color: #4a4a4a;
      margin-bottom: 20px;
      @media(min-width: 48em) {
        font-size: 18px;
        line-height: 1.1;
      }
    }
  }
  .twitter-footer {
    margin-right: 25px;
    padding-top: 1.5px;
    padding-bottom: 1.5px;
  }
}
//OTHER PAGES
#misc-page-nav {
  height: 90px;
  background-image: url('../img/bg-header.png');
  //background-image: radial-gradient(circle at 53% 50%, #87c0df, #449dcd);
  nav {
    padding: 31px 100px 0 100px !important;
  }
}
.presskit-padding {
  padding: 70px 20px 128px !important;
  @media(min-width: 48em) {
    padding: 70px 100px 128px !important;
  }
}
#misc-page-body {
  padding: 72px 20px 20px;
  background-color: #f7f7f7;
  @media(min-width: 48em) {
    padding: 72px 182px 128px;
  }
  h1 {
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    color: #449dcd;
  }
  h2 {
    font-size: 15px;
    line-height: 15px;
    font-weight: 700;
    color: #449dcd;
  }
  h3 {
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    color: #9b9b9b;
    @media(min-width: 48em) {
      line-height: 15px;
    }
  }
  h4 {
    margin-top: 64px;
    font-size: 20px;
    color: #449dcd;
  }
  .section-bar {
    position: relative;
    float: left;
    width: 100%;
    height: 10px;
    border-bottom: 1px solid #eeeeee;
    text-align: center;
    margin-top: 96px;
    margin-bottom: 32px;
    span {
      font-size: 20px;
      font-weight: 600;
      background-color: #F3F5F6;
      padding: 0 10px;
      line-height: 1;
      color: #449dcd;
    }
  }
  h5 {
    font-size: 15px;
    color: #9b9b9b;
    line-height: 1;
  }
  .vertical-list {
    p {
      margin-bottom: 0;
      &:last-of-type {
        margin-bottom: 16px;
      }
    }
  }
  p {
    font-size: 14px;
    line-height: 19px;
  }
  a {
    color: #449dcd;
  }
  .download-all {
    width: auto;
    margin-top: 40px;
    margin-bottom: 16px;
  }
  .logos {
    //float: left;
    width: 50%;
    padding: 0;
    margin: 0;
    @media(min-width: 48em) {
      width: 32.33%;
    }
    @media(max-width: 48em) {
      &:nth-of-type(3) {
        float: left;
      }
    }
    &:nth-of-type(3) {
      margin-top: 3px;
    }
  }
  .col-sm-2 {
    padding: 0;
    span {
      position: fixed;
      a {
        text-decoration: none;
        &:hover {
          h5 {
            color: #449dcd !important;
          }
        }
      }
    }
    @media(max-width: 48em) {
      display: none;
    }
  }
  .downloads-wrapper {
    position: absolute;
    width: 33.33%;
    div {
      width: 132px;
      margin-top: 16px;
    }
    &:nth-of-type(2) {
      margin-left: 33.33%;
    }
    &:nth-of-type(3) {
      margin-left: 66.66%;
    }
  }
  .downloads-wrapper-1 {
    width: 100%;
    float: left;
  }
  .downloads-wrapper-2 {
    width: 50%;
    float: left;
  }
  .downloads-wrapper-5 {
    width: 20%;
    float: left;
  }
  .downloads-wrapper-3 {
    width: 33.33%;
    float: left;
  }
  .col-sm-10 {
    padding: 0;
  }
  #logo1-wrapper {
    float: left;
    width: 50%;
    height: 189px;
    background-color: #ffffff;
    margin-top: 4px;
    padding: 35px 20px;
    img {
      height: 24px;
      width: auto;
    }
    @media(min-width: 48em) {
      width: 33.33%;
      padding: 70px 61px;
      margin-left: 4px;
      img {
        width: auto;
        height: auto;
      }
    }
  }
  .logo-left {
    @media(max-width: 48em) {
      &:nth-of-type(1) {
        height: 188px;
      }
    }
    @media(min-width: 48em) {
      float: left;
    }
  }
  .hidden-wrapper {
    visibility: hidden;
    @media(min-width: 48em) {
      display: none;
    }
  }
  .presskit-screenie-wrapper {
    float: left;
    width: 33.33%;
    padding-left: 18px;
    margin-top: 32px;
    margin-bottom: 16px;
    @media(min-width: 48em) {
      width: 20%;
      padding-left: 39px;
    }
    .presskit-screenie {
      width: 100%;
    }
  }
  .first-screenie-xs {
    @media(max-width: 48em) {
      margin-left: -18px;
    }
  }
  .first-screenie-md {
    @media(min-width: 48em) {
      margin-left: -39px;
    }
  }
  .btn-download-png {
    width: 64px;
    height: 26px;
    margin-top: 16px;
  }
  .lifestyle-wrapper {
    float: left;
    width: 50%;
    padding-right: 15px;
    margin-top: 32px;
    margin-bottom: 15px;
    @media(min-width: 48em) {
      width: 33.33%;
      padding-right: 20px;
    }
    .lifestyle {
      width: 100%;
    }
  }
  .first-lifestyle-xs {
    @media(max-width: 48em) {
      //margin-left: -15px;
    }
  }
  .first-lifestyle-md {
    @media(min-width: 48em) {
      margin-left: -20px;
    }
  }
  .banner-wrapper {
    float: left;
    width: 100%;
    padding-right: 0;
    margin-top: 32px;
    margin-bottom: 16px;
    @media(min-width: 48em) {
      width: 50%;
      padding-right: 39px;
    }
    .banner {
      width: 100%;
    }
  }
  .clappies-wrapper {
    float: left;
    width: 50%;
    padding-right: 15px;
    margin-top: 32px;
    margin-bottom: 16px;
    @media(min-width: 48em) {
      width: 33.33%;
      padding-right: 20px;
    }
    .clappies {
      width: 100%;
    }
  }
  .first-clappy-md {
    @media(min-width: 48em) {
      margin-left: -20px;
    }
  }
  .onepager-wrapper {
    float: left;
    width: 100%;
    .onepager {
      width: auto;
    }
  }
  .video-wrapper {
    float: left;
    width: 100%;
    .presskit-video {
      width: auto;
    }
  }
}
#upload-page-body {
  padding: 72px 182px 128px;
  background-color: #f7f7f7;
  height: 80vh;
  form {
    position: absolute;
    top: 30vh;
    left: 0;
    right: 0;
    margin: auto;
    width: 640px;
    height: 360px;
    background-color: #dddddd;
  }
  form p {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 170px;
    color: black;
    font-family: Arial;
  }
  form input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
  }
  form button {
    margin: 0;
    color: #fff;
    background: #16a085;
    border: none;
    width: 508px;
    height: 35px;
    margin-top: -20px;
    margin-left: -4px;
    border-radius: 4px;
    border-bottom: 4px solid #117A60;
    transition: all 0.2s ease;
    outline: none;
  }
  form button:hover {
    background: #149174;
    color: #0C5645;
  }
  form button:active {
    border: 0;
  }
}
.a-tos {
  @media(max-width: 34em) {
    line-height: 1 !important;
  }
}
//Upload page
